/*!
 arpanshah78 CSS */

 .bg-cover {
	 background: url(http://i.imgur.com/83u6wiI.jpg);	 
	 height: 640px;
	 background-size: 100% 100%;
	 background-repeat: no-repeat;
 }

 .thumbnail {
	position: relative;
 }
 
 .caption {
	position: absolute; 
   	top: 10%; 
   	left: 70%; 
   	width: 25%;
    color: black; 
	font: bold 24px/45px Helvetica, Sans-Serif; 
   	letter-spacing: -1px;   
   	background: rgba(255, 255, 255, 0.5); 	
   	padding: 5px; 
 }