/*!
 arpanshah78 CSS */

 .bg-cover {
	 background: url(http://i.imgur.com/83u6wiI.jpg);	 
	 height: 640px;
	 background-size: 100% 100%;
	 background-repeat: no-repeat;
 }

 .thumbnail {
	position: relative;
 }
 
 .thumbnail-caption {
	position: absolute; 
   	top: 20%; 
   	left: 70%; 
   	width: 25%;
	font: bold 24px/45px Helvetica, Sans-Serif; 
   	letter-spacing: -1px;      	
   	padding: 5px;
    color: hotpink; 
 }